<div th:fragment="head" class="headwrap border-buttom">
    <div class="head">
        <div class="campus">
            <img src="/img/msz.jpg"/>
            <span class="shine">马鞍山师范高等专科学校</span>
        </div>

            <div class="mygroup">
                <svg class="myicon" aria-hidden="true" viewBox="0 0 24 24">
                    <g>
                        <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                    </g>
                </svg>
                <input id="headSearchInput" placeholder="Search" type="search" class="myinput">
            </div>

        <div class="link">
            <div class="link-title"><a href="/" style="text-decoration: none;"><p style="margin-bottom: unset;"><span>首页</span></p></a></div>
            <div class="link-title ecology">
                <span>校园生态▼</span>
                <div class="dropdown-myecology">
                    <a href="/gossipwall"><p><span>青鸟传信</span><span class="ecology-explain">校园墙</span></p></a>
                    <a href="#"><p><span>江湖令</span><span class="ecology-explain">需求市场</span></p></a>
                    <a href="/market"><p><span>摊货市集</span><span class="ecology-explain">交易市场</span></p></a>
                    <a href="/askwall"><p><span>程门</span><span class="ecology-explain">知识问答</span></p></a>
                    <p><span>群英殿</span><span class="ecology-explain">社团</span></p>
                    <p><span>六部朝堂</span><span class="ecology-explain">系部</span></p>
                    <p><span>银玉楼</span><span class="ecology-explain">充值</span></p>
                </div>
            </div>
            <div class="link-title"><span>关于▼</span></div>
            <div class="link-title">
                <span>
                    <a id="toLoginHref" href="/login" target="_self" class="link-success" style="text-decoration: none;font-weight: 600;">登录</a>
                </span>
                <div class="dropdown-myhome">
                    <p style="margin-bottom: 0;text-align: center;">
                        <span class="dorpdown-myinfo"></span>
                        <span class="dorpdown-myinfo">
                            <a id="toLogoutHref" href="javascript:logout()" target="_self" style="text-decoration: none;">退出</a>
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>